@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Forum");

$main-font: "Forum", cursive;
$alt-font: "Great Vibes", cursive;
$font-colour: black;
$hover-colour: grey;
$gutter: 0px 15px;
$gutter-sm: 0px 10px;
$piping: 10px 0px;
$radius: 50%;
$line-height: 1.5;

@mixin flex-layout($direction, $alignment) {
  display: flex;
  flex-direction: $direction;
  justify-content: $alignment;
  align-items: $alignment;
}

@mixin page-titles {
  font-family: $alt-font;
  font-size: 2em;
  padding: $piping;
}
