@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Forum");

$main-font: "Forum", cursive;
$alt-font: "Great Vibes", cursive;
$gutter: 0px 15px;
