$mobile-width: 320px;
$tablet-width: 565px;
$laptop-width: 1090px;

@mixin mobile {
  @media (min-width: $mobile-width) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop-width) {
    @content;
  }
}
