@import "common";

.footer {
  text-align: center;
  padding-bottom: 10px;
  font-family: $main-font;
}

.footer__link {
  color: $font-colour;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: $hover-colour;
  }
}
