@import "common";
@import "media-profiles";

.gifts {
  @include flex-layout(column, center);
  font-family: $main-font;
}

.gifts__title {
  @include page-titles;
}

.gifts__details {
  min-width: 500px;
  width: 70%;
  text-align: center;
  margin: $piping;
  font-size: 1.2em;

  @include mobile {
    min-width: $min-mobile-width;
    width: 100%;
    padding: $gutter-sm;
  }
}

.gifts__photo {
  border-radius: $radius;
  height: 350px;
  margin: $piping;

  @include mobile {
    height: $min-mobile-width;
  }
}
