@import "common";

.holding-page {
  @include flex-layout(column, center);
  flex: 1;
}

.holding-page__main {
  margin-bottom: 35px;
}

.holding-page__title {
  font-family: $main-font;
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

.holding-page__details {
  font-family: $main-font;
  font-size: 1.5em;
  margin-bottom: 30px;
}
