@import "common";
@import "media-profiles";

.nav-bar-small {
  @include tablet {
    display: none;
  }

  @include laptop {
    display: none;
  }
}

.nav-bar-small__title {
  color: $font-colour;
  font-family: $alt-font;

  &:hover {
    text-decoration: none;
    color: $hover-colour;
  }
}

.nav-bar-small__link {
  color: $font-colour;
  font-family: $alt-font;

  &:hover {
    text-decoration: none;
    color: $hover-colour;
  }
}

.nav-item {
  margin: 10px;
}