@import "common";

.our-story {
  @include flex-layout(column, center);
  height: 100%;
}

.our-story-image {
  height: 350px;
  width: 350px;
  border-radius: $radius;
  margin: $piping;
}

.our-story-text {
  width: 100%;
  font-family: $main-font;
  font-size: 1em;
  min-width: 500px;
  width: 70%;
  margin: $piping;
  text-align: center;
}
