@import "common";

.our-story {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.our-story-image {
  height: 50vh;
  border-radius: $radius;
  padding: 0px 30px;
}

.our-story-text {
  width: 100%;
  font-family: $main-font;
  padding: 0px 30px;
  font-size: 1em;
}
