@import "common";

.our-family {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .parent-display {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $gutter;
    margin: $gutter;
  }
}

.our-parents-photo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.parent-info {
  height: 50%;
  text-align: center;
  font-family: $main-font;

  .name {
    font-size: 2em;
  }

  .bio {
    font-size: 1em;
  }
}
