@import "common";
@import "media-profiles";

.our-family {
  @include flex-layout(row, space-around);

  @include mobile {
    @include flex-layout(column, center);
  }

  @include tablet-portrait {
    display: flex;
    flex-wrap: wrap;
  }
}

.our-family-title {
  text-align: center;
  @include page-titles;
}