@import "common";

.our-family {
  @include flex-layout(row, space-around);

  .parent-display {
    width: 25%;
    @include flex-layout(column, center);
    padding: $gutter;
    margin: $gutter;
  }
}

.our-parents-photo {
  height: 200px;
  width: 200px;
  border-radius: $radius;
}

.parent-info {
  height: 50%;
  text-align: center;
  font-family: $main-font;

  .name {
    font-size: 2em;
  }

  .bio {
    font-size: 1em;
  }
}
