@import "common";
@import "media-profiles";

.our-story {
  @include flex-layout(column, center);
  height: 100%;
}

.our-story-title {
  text-align: center;
  @include page-titles;
}

.our-story-image {
  height: 350px;
  width: 350px;
  border-radius: $radius;
  margin: $piping;

  @include mobile {
    min-width: $mobile-width;
    height: auto;
    padding: $gutter-sm;
  }
}

.our-story-text {
  width: 100%;
  font-family: $main-font;
  font-size: 1em;
  min-width: 500px;
  width: 70%;
  margin: $piping;
  text-align: center;
  line-height: $line-height;

  @include mobile {
    min-width: $mobile-width;
    width: 100%;
    padding: $gutter-sm;
  }
}
