@import "common";
@import "media-profiles";

.person-display {
  @include flex-layout(column, center);
  justify-content: start !important;

  @include laptop {
    width: 25%;
    padding: $gutter;
    margin: $gutter;
  }

  @include tablet {
    flex-grow: 1;
    width: 45%;
    padding: $gutter;
    margin: $gutter;
    margin-bottom: 15px;
  }

  @include mobile {
    width: 100%;
    padding: 0px 10px;
    margin: $piping;
    margin-bottom: 15px;
  }
}

.person-photo {
  height: 200px;
  width: 200px;
  border-radius: $radius;
}

.person-info {
  text-align: center;
  font-family: $main-font;
  line-height: $line-height;

  .name {
    font-size: 2em;
  }

  .bio {
    font-size: 1em;
  }
}
