@import "common";
@import "media-profiles";

.rsvp-page {
  @include flex-layout(column, center);
  font-family: $main-font;
}

.rsvp-form {
  @include flex-layout(column, center);
}

.rsvp-page__title {
  @include page-titles;
}

.rsvp-form__input {
  padding: 10px 10px;
  margin: $piping;
  border-radius: 5px;
  border: 0;
  font-size: 1.1em;
  font-family: $main-font;
  width: 400px;

  @include mobile {
    min-width: $mobile-width;
    width: 100%;
  }
}

.rsvp-form__attending {
  margin: $piping;
  font-size: 1.1em;
}

.rsvp-form__attending-buttons-label {
  margin: 0px 10px;
}

.rsvp-form__submit-button {
  font-family: $main-font;
  font-size: 1.1em;
  border-radius: 5px;
  border: 0;
  width: 100px;
  height: 30px;
  margin: $piping;
  &:hover {
    cursor: pointer;
  }
}

.rsvp-form__submit-message {
  font-size: 1.5em;
  padding: $piping;
}
