@import "common";
@import "media-profiles";

.big-day {
  @include flex-layout(column, center);
  font-family: $main-font;
}

.big-day__title {
  @include page-titles;
}

.big-day__details {
  min-width: 500px;
  width: 70%;
  text-align: center;
  margin: $piping;
  font-size: 1.1em;
  padding: $gutter-sm;

  @include mobile {
    min-width: $mobile-width;
    width: 100%;
    padding: $gutter-sm;
  }
}

.big-day__date {
  font-size: 1.2em;
}

.big-day__address {
  font-size: 1.2em;
  margin: $piping;
}

.big-day__info {
  padding: $piping;
  line-height: $line-height;
}

.big-day__contact {
  padding: $piping;
}
