.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0px;
  margin-bottom: 20px;
  min-height: 100px;
}

li {
  list-style: none;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header-link {
  display: inline-flex;
  align-items: center;
  font-family: "Great Vibes", cursive;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
