.landing-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  flex-grow: 1;
}

.landing-image {
  height: 50%;
  margin: 0 auto;
}
